<h1>Formulário para Editar Pagamento</h1>
<form action="/upadte-pagamento/{{id}}" method="POST">
    <label for="">Nome</label>
    <input type="text" name="nome" value="{{nome}}"><br><br>

    <label for="">Valor</label>
    <input type="text" name="valor" value="{{valor}}"><br><br>

    <button type="submit">Editar</button>
</form>